.categories_root{
    /* outline: 1px solid black; */
    padding-bottom:1em;
}

.each_category{
    /* background-color: #78290F; */
    border: 2px solid #15616D;
    padding: 0.5em 1.5em;
    border-radius: 20px;
    cursor: pointer;
    margin: 0em 1em !important;
    color: #15616D;
}