.blog_bar{
    outline: 1px solid red;
}

.blog_main{
    padding-left: 20rem; 
    padding-right: 20rem;
}

.blog_remaining{
    /* background-color: aliceblue; */
}

.blog_mainimage{
    outline: 1px solid lime;
    width: 100%;
    height: 20%;
    background-color: black;
}

.blogtitleblock{
    /* background-color: #ebeff5; */
    padding-top: 4rem;    
}

.blogtitle{
    font-weight: 500;
    font-size: 3em;
}
.blog_main{
    padding-top: 3em;
}

.socialmedia_section{
    /* outline: 1px solid black; */
    width: 25%;
    text-align: end;
    /* outline: 1px solid lime; */
}

.social_space{
    padding-right: 0.8em;
    font-size: 1.15em;
    cursor: pointer;
}

.edit_icon{
    padding-right: 1em;
    color: green;
}

.delete_icon{
    color: rgb(131, 36, 36);
    cursor: pointer;
}

.share_icons{
    padding-right: 1em;
    color: rgb(100, 100, 199);

}

.blogpage_subtitle{
    padding-bottom: 1.3em;
    font-style: italic;
}

.blogpg_date{
    font-weight: 500;
    font-size: 1em;
}

.confirm_root{
    /* outline: 1px solid lime; */
    /* background-color: #5e5d5dcc; */
    /* height: 100vh;  */
    width:100%;

}

.confirm_main{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: white;
    padding: 30px 40px;
    border-radius: 8px;
    /* max-width: 600px; */
    width: 400px;
    border: 1px solid black;
    box-shadow: 6px 6px 16px -3px rgba(35,56,83,0.7);
    -webkit-box-shadow: 6px 6px 16px -3px rgba(35,56,83,0.7);
    -moz-box-shadow: 6px 6px 16px -3px rgba(35,56,83,0.7);
    
}

.confirm_text{
    font-size: 1.1em;
    /* outline: 1px solid lime; */

    font-weight: 500;
}
.confirm_btns{
    padding-top: 2em;
}

.confirm_btn{
    padding-right: 2em;
}

.return_btn{
    background-color: aliceblue;
    color: aliceblue;
    border: 1px solid #15616D;
}

.return_btn:hover{
    background-color: black;
    color: aliceblue;
}