.writeblog_main{
    padding: 2rem 15rem 0rem 15rem;
    /* outline: 1px solid lime; */

}

.wrtblog_main{
    padding-top: 2em;
}

.writeblog_black{
    /* outline: 1px solid lime; */
    width: 100%;
    color: #1a1a1a;
    /* padding: 1em; */
    font-weight: 500;
    font-size: 1.6em;
    /* background-color: black; */

    border-radius: 5px;
    justify-content: center;

}

.writeblog_heading{
    /* width: 50%;
    height: 100%; */

}
.writeblog_title{
    font-weight: 500;
    font-size: 1.1em;
    padding: 1em 0em;
    width: 20%;
    /* outline: 1px solid lime; */

}

.small{
    /* outline: 1px solid lime; */
    width: 70%;
    
}

.small_input{
    width: 100%;
    height: 2.5em;
    /* outline: 1px solid lime; */
    background-color: white;
    color: #1a1a1a;
    border-radius: 5px;
}

.write_editor{
    /* min-height: 300px; */
    padding-top: 1em;
}

.write_bottombtn{
    /* outline: 1px solid lime; */
    padding-top: 3em;
}

.cancel_btn{
    background-color: white;
    color: #15616D;
    border: 1px solid #15616D;
}

.cancel_btn:hover{
    background-color: #15616D;
    color: aliceblue;
    border: 1px solid #15616D;
}

.cancel_btnspace{
    padding-right: 1em;
    width: 100px;
}